//variables
$background-color: rgb(52, 52, 52);
$primary-text-color: #e6e6e6;
$secondary-color: rgb(224, 32, 32);
$bg-image: url("../images/background-doodles.png");
$transition-time: 0.5s ease-in-out;